* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
html, body {
    height: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; Adds visible red border */
     margin: 5%;
}

body {
    background-color: #F8FAFC;
}

.image_container {
    width: 240px;
    height: 240px;
}
.container h1 {
  /* font-size: 30; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h2 {
  /* font-size: 16; */
  text-align: center;
  font-weight: normal;
  color: #6B7280;
  
}
.text{
     /* border: 2px solid red; */
     padding-left: 20px;
     padding-right: 20px;
     margin: 30px;
}

.text h1{
  font-size: 30px;
}
.text h2{
  font-size: 16px;
}

.account_stats{
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 10px;
    background-color: #E5E7EB;
    margin-top: 20px;
    border-radius: 8px;
    padding: 20px;
}

.message-box h1 {
  font-size: 16px;
  color: #374151;
  font-weight: 500; 
}
.message-box h2{
  font-size: 16px;
  color: #6B7280;
}