*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #eff7ee;
}

.wrapper {
    /* border: solid 2px red; */
    margin: 20px;
    margin-left: 15%;
    
}

.title {
    font-size: 28px;
}

.subtitle{
    font-size: 16px;
    margin-bottom: 2%;
}

.box-holder{
    /* border: solid 2px green; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;;
    gap: 5rem;

}

.profile-card{
    background: whitesmoke;
    border: solid 2px #968ecd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 384px;
    height: 510px;
    margin-top: 0;
    border-radius: 12px;
}

.profile-info{
    background: whitesmoke;
    border: solid 2px #968ecd;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 723px;
    border-radius: 12px;
}

.image{
    /* border: solid 2px red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.pfp{
    width: 150px;               /* make it bigger */
    height: 150px;              /* same as width */
    border-radius: 50%;        /* makes it circle */
    border: 2px solid #968ecd;   /* border around it */
    object-fit: cover;         /* crop img nicely inside */
    background-color: whitesmoke;    /* gray if no img */
    display: block;            /* ensure no extra gaps */

}

.txt{
    font-size: 16px;
    font-weight: 600;
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    cursor: pointer;    
}

.txt:hover {
  text-decoration: underline;
}

.verified-box{
    border: solid 2px black;
    margin: 10px;
    border-radius: 10px;
    background: linear-gradient(135deg, #2e602a, #9c49a7);
    color: white;
    padding: 10px;
}

.verified{
    display: flex;
    margin-bottom: 5px;
    gap: .5rem;
}

.verified-box h2{
    font-size: 14px;
    font-weight: 500;
}

.links{
    /* border: solid 2px red; */
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.link-btn {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.link-btn:hover {
  text-decoration: underline;
}


.clickable:first-child {
  margin-top: 1rem;
}

.clickable{
    display: flex;
    margin-bottom: 2rem;
    gap: .8rem;
}

.clickable:last-child {
  margin-bottom: 0;
}

.link-txt{
    font-size: 16px;
}

/* profile card */

.prof_header{
    font-size: 25px;
    margin: 3% 5% 1%;
    /* border: solid 2px #9c49a7; */
}

.info_box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
    /* border: solid 2px red; */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-bottom: solid 2px black;
    width: 95%;          /* make it narrower */
    margin: 0 auto; 
}

.card_info{
    background: #a8a1da;
    margin: 3% 5% 3%;
    padding: 4.5%;
    border-radius: 5px;
}

.card_info h1 {
    font-size: 16px;
    font-weight: 600; /* Bold for h1 */
}

.card_info h2 {
    font-size: 16px;
    font-weight: 500; /* Medium for h2 */
}

.box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
    gap: 1rem;
    /* border: solid 2px red; */
    width: 95%;          
    margin: 0 auto;
}

.prof_header_second{
    margin-top: 2%;
    font-size: 25px;
    margin-left: 5%;
}

.card_info_second{
    background: #ada7db;
    margin: 3% 5% 3%;
    padding: 4.5%;
    border-radius: 5px;
}

.card_info_second h1 {
    font-size: 16px;
    font-weight: 600; /* Bold for h1 */
}

.card_info_second h2 {
    font-size: 16px;
    font-weight: 500; /* Medium for h2 */
}


/* Extra Small Devices (Phones) */
@media (max-width: 479px) {
    .wrapper{
        /* border: solid 2px yellow; */
        margin: 5%;
    }

    .box-holder{
        gap: 2rem;
    }

   .box-holder{
    display: flex;
    flex-direction: column;
    /* border: solid 2px blue; */
   }

   .profile-card{
    width: 340px;
    height: 510px;
   }

   .profile-info{
    width: 340px;
    height: 80%;
   }

   .info_box{
    grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
    /* border: solid 2px red; */
   }
}

/* Small Devices (Large Phones) */
@media (min-width: 480px) and (max-width: 767px) {}

/* Medium Devices (Tablets) */
@media (min-width: 768px) and (max-width: 991px) {}

/* Large Devices (Desktops) */
@media (min-width: 992px) and (max-width: 1199px) {}

/* Extra Large Devices (Wide Screens) */
@media (min-width: 1200px) and (max-width: 1599px) {}

/* XXL / Ultra Wide Screens */
@media (min-width: 1600px) {}